### This notebook uses basic matplotlib function.
The data is taken from https://data.gov.in/resources/sub-divisional-monthly-rainfall-1901-2017

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib qt

In [2]:
# Reading the data

In [3]:
df=pd.read_csv('Sub_Division_IMD_2017.csv')

In [4]:
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND
0,Andaman & Nicobar Islands,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,Andaman & Nicobar Islands,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,Andaman & Nicobar Islands,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,Andaman & Nicobar Islands,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,Andaman & Nicobar Islands,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

In [5]:
# getting the data for different states

In [6]:
haryana=df[df['SUBDIVISION']=='Haryana Delhi & Chandigarh']

In [7]:
haryana_year=haryana['YEAR']

In [8]:
haryana_rainfall=haryana['ANNUAL']

In [9]:
# Plotting scatter and line plot

In [10]:
plt.figure(figsize=(15,15))
plt.scatter(haryana_year[-18:],haryana_rainfall.iloc[-18:])
plt.ylabel('Rainfall in (mm)',fontsize=14)
plt.title('Rainfall in Haryana, Delhi & Chandigarh from 2000 to 2017',fontweight='bold',fontsize=14)
plt.xlabel('Year',fontsize=14)
plt.xticks(np.arange(2000,2018, step=1));

In [11]:
plt.figure(figsize=(15,15))
plt.plot(haryana_year[-18:],haryana_rainfall.iloc[-18:])
plt.ylabel('Rainfall in (mm)',fontsize=14)
plt.title('Rainfall in Haryana, Delhi & Chandigarh from 2000 to 2017',fontweight='bold',fontsize=14)
plt.xlabel('Year',fontsize=14)
plt.xticks(np.arange(2000,2018, step=1));

In [12]:
orissa=df[df['SUBDIVISION']=='Orissa']

In [13]:
orissa_year=orissa['YEAR']

In [14]:
orissa_rainfall=orissa['ANNUAL']

In [15]:
Jharkhand=df[df['SUBDIVISION']=='Jharkhand']

In [16]:
Jharkhand_year=Jharkhand['YEAR']

In [17]:
Jharkhand_rainfall=Jharkhand['ANNUAL']

In [18]:
data=[Jharkhand_rainfall.iloc[-18:],orissa_rainfall.iloc[-18:]]

In [19]:
# Plotting the boxplot

In [20]:
plt.figure(figsize=(10,10))
plt.boxplot(data);
plt.xticks([1,2],['Jharkhand','Orissa']);
plt.ylabel('Rainfall in (mm)',fontsize=14)
plt.title('Boxplot for Rainfall in two states from 2000 to 2017',fontweight='bold',fontsize=14)

Text(0.5, 1.0, 'Boxplot for Rainfall in two states from 2000 to 2017')

plt.figure(figsize=(15,15))
plt.plot(orissa_year[-18:],orissa_rainfall.iloc[-18:])
plt.plot(Jharkhand_year[-18:],Jharkhand_rainfall.iloc[-18:])
plt.ylabel('Rainfall in (mm)',fontsize=14)
plt.title('Rainfall in Haryana, Delhi & Chandigarh from 2000 to 2017',fontweight='bold',fontsize=14)
plt.xlabel('Year',fontsize=14)
plt.xticks(np.arange(2000,2018, step=1));